body {
  font: 18px "Verdana", sans-serif;
  width: 900px
}

h1 {
  font: 37px "Tahoma", helvetica,sans-serif;
  color: #000000;
  line-height: 46px;
}

h2 {
  font: 25px "Tahoma", helvetica,sans-serif;
  line-height: 38px;
}

h3 {
  font: 18px;
  color: #666;
}

p {
  font: 18px;
  line-height: 27px;
  color: #333; 
}
